.hidden{
    display: none;
}

.flex-container{
    display: flex;
    background-color: beige;
    justify-content: space-between;
}

.flex-container > div  {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 100%;
}

.icon {
    cursor: pointer;
    width: 25px;
}

.button {
    border: solid 1px black;
    padding:5px;
    margin: 10px;
    
}

.button:hover{ 
    cursor:pointer;
}

.title{
    font-weight: bolder;
}

.product-list-item, 
.catagory-list-item{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px 5px; 
    border-top: 1px solid;
    list-style-type: none;
}

.product-list-item-text, 
.catagory-list-item-text{
    width: 65%;
}

ul{
    margin: 10px;
    margin-top: 40px;
    padding: 0;
}
