.hidden{
    display: none;
}

img {
    width: 100%;
}

.flex-container-products{
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.flex-container-products > div  {
    width: 30%;
    margin: 2px;
    padding: 10px;
    font-size: 30px;
    border: 1px solid black;
}
.flex-container-product{
    margin: auto;
    padding: 10px;
}

.flex-container-product > div  {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.icon {
    cursor: pointer;
    width: 50px;
}

.button {
    border: solid 1px black;
    padding:5px;
    margin: 10px;
    
}

.button:hover{ 
    cursor:pointer;
}

.title{
    font-weight: bolder;
}
